* {
  position: relative;
}
html, body {
  // font-size 25px;
}
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #222629;
}